<!DOCTYPE html>
<html>
<head>
	<title>biki.nyc</title>
	<link rel="stylesheet" src="/views/assets/css/bootstrap.min.css">
	<link rel="stylesheet" src="/views/css/style.css">
	<link rel="stylesheet" src="../assets/css/cover.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link src="/assets/css/fixed-positioning.css" rel="stylesheet" type="text/css">
</head>

<body>	
	<nav class="navbar navbar-fixed-top navbar-inverse">
	  <div class="masthead">
        <h3 class="text-muted">
        	<a href="/logout" class="btn btn-primary pull-right btn-lg">Logout</a>
        </h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
</nav>
 <div class="jumbotron">
      <div class="container">
        <h1>Hello, worldsss!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

	

			

		<div class="inner cover">
			<h1 class="cover-heading">Cover your page.</h1>
			<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
			<p class="lead">
				<a href="#" class="btn btn-lg btn-default">Learn more</a>
			</p>
		</div>
		<div class="mastfoot">
			<div class="inner">
			</div>
		</div>
	</div>
</div>
</div>





	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/views/assets/js/skrollr.js"></script>
	<script src="/views/assets/js/carousel.js"></script>
	<script type="text/javascript" src="/js/app.js" ></script>
	<script src="/views/assets/js/parallax.js"></script>


	 <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
</body>
</html>